<phpunit haltonfailure="true" haltonerror="true"  bootstrap="tests/bootstrap.php">
    <formatter type="clover" usefile="true"/>
    <testsuite name="CWS-LiverPerson">
        <directory>./Tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="tests/_reports/logs/clover.xml"/>
        <log type="coverage-html" target="tests/_reports/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox-text" target="tests/_reports/testdox/executed.txt"/>
    </logging>

</phpunit>